.header-bg {
    background-image: url('../../assets/img/header-image.jpg'); 
    height: 500px;
    background-position: center;
}

.navbar-dark {
    background-color: #03A9F4;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}