<button type="button" class="btn-close float-end" (click)="close()" aria-label="Close"></button>
<h2 mat-dialog-title>Detalhes do usuário</h2>
<mat-dialog-content class="mat-typography">
  <div class="user mb-4 d-flex justify-content-start">
    <div class="avatar" [style]="getAvatar()"></div>
    <div>
        <span class="author-name align-bottom">{{ userInfo.username }}</span>
        <br/>
        <span class="author-date align-top">Membro desde: {{ userInfo.memberSince | localeDate }}</span>
    </div>
  </div>
  <div class="friends mb-4">
    <h5 class="subtitle">Amigos em comum</h5>
    <span>{{ friendsList || 'Nenhum amigo encontrado' }}</span>
  </div>
  <div class="posts">
    <h5 class="subtitle">Posts</h5>
    <div class="list-group">
      <li *ngFor="let post of userInfo.posts" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <p class="post-title mb-1">{{post.title}}</p>
        </div>
        <p class="mb-1">{{post.subtitle}}</p>
        <small [innerHtml]="post.content" class="ellipsis"></small>
      </li>
    </div>
  </div>  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="actions mb-4 d-flex justify-content-end">
    <button type="button" class="btn btn-danger btn-sm mr-btn">Reportar</button>
    <button type="button" class="btn btn-sm mr-btn" [ngClass]="addRemFriend ? 'btn-danger' : 'btn-success'">
      {{ addRemFriend ? 'Remover amigo' : 'Adicionar amigo'}}
    </button>
    <button type="button" class="btn btn-primary btn-sm">Enviar mensagem</button>
  </div>
</mat-dialog-actions>